.sub-title {
  border-bottom: 1px solid #ccc;
  margin: 10px 0px 10px 0px;
}
/* MARGINs */
.marg-3{
  margin:15px;
}
.marg-top-3 {
  margin-top: 15px;
}
.marg-top-4 {
  margin-top: 20px;
}
.marg-top-5 {
  margin-top: 25px;
}
.marg-bot-3 {
  margin-bottom: 15px;
}
.marg-bot-4 {
  margin-bottom: 20px;
}
.marg-ver-3 {
  margin-top: 15px;
  margin-bottom: 15px;
}
.marg-hor-3 {
  margin-left: 15px;
  margin-right: 15px;
}
.marg-hor-2 {
  margin-left: 10px;
  margin-right: 10px;
}
.marg-right-3{
  margin-right: 15px;
}
.marg-left-3{
  margin-left: 15px;
}
h3 {
  font-weight: 500;
}
