<ng-container *ngIf="details$ | async as details; else loading">
  <div *ngIf="!placeId" class="map-wrapper">
    <app-map [height]="40" [place]="details.placeData.place"></app-map>
  </div>
  <div class="mat-card"
    [ngClass]="{'responsive': !placeId && !utilService.isHandset, 'marg-ver-3':!utilService.isHandset}">
    <h1>{{details.placeData.place.name}}</h1>
    <em class="text-muted">{{details.placeData.place.formatted_address}}</em>
    <p class="marg-ver-3 alert-info" *ngIf="userService.isRelawan">
      Klik angka pada kolom berikut untuk melengkapi atau mengubah data. Isikan data sesuai kondisi dan kebutuhan, tidak
      harus semua terisi. Data akan tersimpan setiap kali anda klik tombol simpan.
    </p>

    <ng-container *ngIf="userService.isRelawan">
      <mat-divider></mat-divider>
      <h3 class="marg-top-5 marg-bot-3">Orang Dalam Pemantauan (ODP)</h3>
      <div class="marg-hor-2">
        <app-single-number-card [placeData]="details.placeData" key="odp" title="Orang Dalam Pemantauan" subtitle="ODP">
        </app-single-number-card>
      </div>
      <br />
      <mat-divider></mat-divider>
      <h3 class="marg-ver-3">Pasien Dalam Pengawasan (PDP)</h3>
      <div class="flex-row">
        <app-single-number-card class="flex-item" [placeData]="details.placeData" key="pdpp"
          title="Jumlah Pasien Dalam Pengawasan yang Meninggal" subtitle="Meninggal"></app-single-number-card>
        <app-single-number-card class="flex-item" [placeData]="details.placeData" key="pdpr"
          title="Jumlah Pasien Dalam Pengawasan yang Dirawat" subtitle="Dirawat"></app-single-number-card>
        <app-single-number-card class="flex-item" [placeData]="details.placeData" key="pdps"
          title="Jumlah Pasien Dalam Pengawasan yang Sembuh" subtitle="Sembuh"></app-single-number-card>
      </div>
      <br />
      <mat-divider></mat-divider>
      <h3 class="marg-ver-3">Pasien Positif COVID-19</h3>
      <div class="flex-row">
        <app-single-number-card class="flex-item" [placeData]="details.placeData" key="covp"
          title="Jumlah Pasien Positif yang Meninggal" subtitle="Meninggal"></app-single-number-card>
        <app-single-number-card class="flex-item" [placeData]="details.placeData" key="covr"
          title="Jumlah Pasien Positif yang Dirawat" subtitle="Dirawat"></app-single-number-card>
        <app-single-number-card class="flex-item" [placeData]="details.placeData" key="covs"
          title="Jumlah Pasien Positif yang Sembuh" subtitle="Sembuh"></app-single-number-card>
      </div>
      <br />
    </ng-container>

    <mat-divider></mat-divider>
    <h3 class="marg-ver-3">Permintaan alat-alat tambahan yang dibutuhkan</h3>
    <div class="flex-row">
      <ng-container *ngFor="let l of details.filledLogistic">
        <div class="flex-item">
          <app-single-number-card [placeData]="details.placeData" [key]="l.key" [title]="l.formLabel"
            [subtitle]="l.name" [unitLabel]="l.unitLabel">
          </app-single-number-card>
        </div>
      </ng-container>
    </div>
    <ng-container *ngIf="details.unfilledLogistic.length > 0 && userService.isRelawan">
      <div class="marg-ver-2 marg-hor-2">
        <button class="marg-ver-3" mat-flat-button color="accent" [matMenuTriggerFor]="menu">
          <mat-icon>add</mat-icon> Minta tambahan alat
        </button>
      </div>
      <mat-menu #menu="matMenu" style="width:80%;">
        <ng-template matMenuContent>
          <button mat-menu-item *ngFor="let l of details.unfilledLogistic"
            (click)="singleNumberCard.openDialog(l.formLabel, l.unitLabel, details.placeData, l.key, '0')">
            {{ l.name }}
          </button>
        </ng-template>
      </mat-menu>
    </ng-container>

    <ng-container *ngIf="userService.isRelawan">
      <p>Nomor contact person di RS/Puskesmas/Faskes ini
        yang dapat dihubungi (untuk keperluan permintaan alat-alat tambahan):
        <mat-spinner [diameter]="30" *ngIf="updatingContact"></mat-spinner>
        <ng-container *ngIf="details.placeData.data.contact; else masukkan">
          <h2 style="color: blue">{{ details.placeData.data.contact }}</h2>
          <button mat-raised-button color="primary" (click)="editContact(details.placeData)">Ubah contact
            person</button>
        </ng-container>
        <ng-template #masukkan>
          <button mat-raised-button color="primary" (click)="editContact(details.placeData)">Masukkan contact
            person</button>
        </ng-template>
      </p>
    </ng-container>
    <br />

    <mat-divider></mat-divider>
    <h3 class="marg-ver-3">Kapasitas Tempat Tidur/Ruang</h3>
    <div class="flex-row">
      <app-single-number-card class="flex-item" [placeData]="details.placeData" key="icu"
        title="Kapasitas ruang ICU di rumah sakit ini" subtitle="ICU"></app-single-number-card>
      <app-single-number-card class="flex-item" [placeData]="details.placeData" key="isolasi"
        title="Kapasitas ruang Isolasi di rumah sakit ini" subtitle="isolasi"></app-single-number-card>
    </div>
    <div class="marg-ver-3 marg-hor-2">
      <span style="font-weight:500;">Daya tampung tempat tidur/ruangan:</span>
      <b *ngIf="!userService.isRelawan">
        &nbsp; {{ details.placeData.data.kondisi ? 'Tidak Cukup' : 'Cukup' }}
      </b>
      <br>
      <mat-radio-group *ngIf="userService.isRelawan" aria-label="Kondisi tempat tidur di RS ini"
        [value]="details.placeData.data.kondisi" (change)="saveKondisi(details.placeData.place.place_id, $event.value)">
        <mat-radio-button style="margin-top: 10px;" value="0" class="radio"
          [checked]="details.placeData.data.kondisi === 0">
          <b>Cukup</b> (masih ada tempat tidur kosong)</mat-radio-button>
        <br>
        <mat-radio-button style="margin-top: 10px;" value="1" class="radio"
          [checked]="details.placeData.data.kondisi === 1">
          <b>Tidak Cukup</b> (semua tempat tidur penuh)</mat-radio-button>
      </mat-radio-group>
    </div>
    <br />
    <mat-divider></mat-divider>
    <h3 class="marg-ver-3">Dukungan alat yang tersedia di ruang Isolasi</h3>
    <div class="flex-row">
      <app-single-number-card class="flex-item" [placeData]="details.placeData" key="availableVentilator"
        title="Ketersediaan Non Invasive Ventilator di rumah sakit ini" subtitle="Ventilator"></app-single-number-card>
      <app-single-number-card class="flex-item" [placeData]="details.placeData" key="availableMechanicalVentilator"
        title="Ketersediaan Mechanical Ventilator di rumah sakit ini" subtitle="Mechanical Ventilator">
      </app-single-number-card>
      <app-single-number-card class="flex-item" [placeData]="details.placeData" key="availableEcmo"
        title="Ketersediaan Extracorporeal Membrane Oxygenation (ECMO) di rumah sakit ini" subtitle="ECMO">
      </app-single-number-card>
    </div>
    <br />
    <mat-divider></mat-divider>
    <div class="marg-ver-3">
      <a (click)="location.back()" mat-button>
        <mat-icon class="icon">keyboard_arrow_left</mat-icon> Kembali ke halaman sebelumnya
      </a>
    </div>

    <ng-container *ngIf="userService.isModerator">
      <mat-divider></mat-divider>
      <app-rs-log [placeData]="details.placeData"></app-rs-log>
    </ng-container>
  </div>
</ng-container>

<ng-template #loading>
  Memuat...
</ng-template>
