<div class="responsive">
  <br>

  <p *ngIf="userService.isSignedIn === undefined; else render">
    Please wait ...
  </p>

  <ng-template #render>
    <div *ngIf="userService.user$ | async as user; else login">
      <mat-card>
        <div class="flex-between marg-bot-3">
          <h2>Hello, {{ user.displayName}}.</h2>
          <img [src]="user.photoURL">
        </div>
        <ng-container *ngIf="!userService.isRelawan; else userRole">
          <p>
            Terimakasih telah mendaftar sebagai Relawan KawalRumahSakit.<br />
            Selanjutnya, silakan lengkapi profil anda pada formulir di bawah ini untuk proses verifikasi sebagai
            Relawan.
          </p>
          <!-- <iframe
            src="https://docs.google.com/forms/d/e/1FAIpQLSey8vuETuSUDBrETwgnb_nvC5Kvw0tVTKCrYWmUjuNO2UR4Dg/viewform"
            frameborder="0" marginheight="0" marginwidth="0"
            style="width:100%; min-height:100vh;height:2200px;"></iframe> -->
          <h2><a
              href="https://docs.google.com/forms/d/e/1FAIpQLSey8vuETuSUDBrETwgnb_nvC5Kvw0tVTKCrYWmUjuNO2UR4Dg/viewform">Klik
              di sini untuk melengkapi profil anda</a></h2>
        </ng-container>
        <ng-template #userRole>
          <div class="marg-bot-3">
            Peran anda di KawalRumahSakit adalah sebagai
            <strong>{{ userService.role }}</strong>
          </div>
        </ng-template>
        <mat-divider></mat-divider>
        <mat-card-actions class="flex-between">
          <button mat-button [routerLink]="['/viz']">
            <mat-icon class="icon">keyboard_arrow_left</mat-icon><span class="marg-left-3">Kembali ke halaman
              utama</span>
          </button>
          <button mat-raised-button color="warn" aria-label="Logout" (click)="userService.logout()">
            Logout
          </button>
        </mat-card-actions>
      </mat-card>
    </div>

    <ng-template #login>
      <p *ngIf="userService.isSignedIn">Signing in ...
        <mat-spinner diameter="25"></mat-spinner>
      </p>
      <mat-card *ngIf="!userService.isSignedIn">
        <h1>Menjadi Relawan</h1>
        <p>Untuk menjadi relawan KawalRumahSakit, anda harus login dulu menggunakan akun Facebook anda.</p>

        <p>Setelah login, silakan lengkapi profil anda melalui tautan Google Form. Selanjutnya moderator kami akan
          review dan approve request anda.</p>

        <p>Setelah diapprove menjadi relawan KawalRumahSakit, anda baru bisa mencari dan memasukkan data untuk RS di
          Indonesia.</p>
        <mat-divider></mat-divider>
        <mat-card-actions class="flex-between">
          <button mat-button [routerLink]="['/viz']">
            <mat-icon class="icon">keyboard_arrow_left</mat-icon><span class="marg-left-3">Kembali ke halaman
              utama</span>
          </button>
          <button mat-raised-button color="primary" aria-label="Login" (click)="userService.loginFacebook()">
            Login with Facebook
          </button>
        </mat-card-actions>
      </mat-card>
    </ng-template>
  </ng-template>
</div>
