<h2 style="margin-top: 20px;">Change log</h2>


<table border="1">
  <tr>
    <td width="250">Kapan diubah</td>
    <td width="150">Perubahan</td>
  </tr>
  <tr *ngFor="let c of changes">
    <td>
      <img [src]="c.user?.photoURL" style="float: left;">
      {{ c.ts | date:'short' }}<br>
      {{ c.user?.displayName }} ({{ USER_ROLE[c.user?.role] }})<br>
      <ng-container *ngIf="c.user?.email">
        {{ c.user?.email }}<br>
      </ng-container>
    </td>
    <td>
      {{ c.key }} :
      <ng-container *ngIf="c.prev !== undefined">{{c.prev}} -&gt;</ng-container>
      {{ c.value }}
    </td>
  </tr>
</table>
