.page-container{
  margin:25px auto;
  max-width: 700px;
}
.page-accordion{
  margin-top:35px;
}
.tab-content {
  padding-top: 25px;
}
.tab-content .mat-expansion-panel-header-title strong{
  color:#555;
  font-weight: 200;
}
