.button-wrapper {
  text-align: center;
  margin-bottom: 24px;
}

/*BREADCRUMB*/
.breadcrumb-wilayah{
  padding:0 16px 20px 16px;
  font-size:14px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.breadcrumb-wilayah .breadcrumb-item{
  text-align:bottom;
  vertical-align: middle;
  padding-right: 5px;
}
.breadcrumb-wilayah .mat-icon{
  height:14px;
  width:14px;
}
.breadcrumb-wilayah .material-icons{
  font-size: 14px;
  color:#716969;
  vertical-align: middle;
}

.breadcrumb-wilayah-mobile{
  display: flex;
  align-items: center;
  align-content: flex-start;
  margin-bottom:5px;
}
.breadcrumb-wilayah-mobile .current-wilayah{
  font-size:18px;
  font-weight:500;
  line-height:19px;
  flex-grow:1;
}
.breadcrumb-wilayah-mobile .nasional-wilayah{
  font-size:18px;
  font-weight:500;
  line-height:19px;
  margin:16px;
}

/*DATA TABLE*/
table td,
table th {
  /* padding: 8px 16px; */
}

table td:not(:first-child) {
  text-align: right;
}

/* table td:nth-child(even),
table th:nth-child(even) {
  background-color: #FAFAFA;
} */
.table-main {
  border: none;
  border-collapse: separate;
  border-spacing: 0;
  font: normal 13px Arial, sans-serif;
  /* width:100%;
  max-width: 100vw; */
}

.table-main thead th {
  white-space:nowrap;
  border-top:1px solid #E1E2E6;
  border-bottom:1px solid #E1E2E6;
  padding:0;
}
.table-main tbody tr:hover td{
  background-color: #f8f8f8;
}
.table-main tbody td {
  white-space: nowrap;
  /* border-bottom:1px solid #E1E2E6; */
  overflow: hidden;
  padding:0;
  vertical-align: bottom;
  align-items: baseline;
}
.table-main tbody td div, .table-main thead th div, .table-main tbody td.fix-col div a {
  padding: 8px 16px;
}
.table-main tbody td div a{
  display: block;
}
.table-main tbody td div.number{
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #fff;
}

.table {
  position: relative;
}

.table-scroll {
  overflow-x: auto;
  overflow-y: visible;
  padding-bottom: 5px;
  margin-left: 30%;
  width: 70%;
  max-width: 70vw;
}

.table-main .fix-col {
  left: 0;
  position: absolute;
  z-index:1000;
  top: auto;
  text-align: left;
  background-color: rgb(253,253,253,1);
  border-bottom:2px solid rgb(253,253,253,1);
}
.table-main tbody td.fix-col div{
  padding:0!important;
}
.nav-list{
  display: flex;
  flex-direction: column;
}
.nav-list .mat-list-item{
  border-bottom:1px solid #f8f8f8;
}
.flex-grow-1{
  flex-grow:1;
}
.nav-list-text{
  font-size: 0.8rem;
  font-weight: 400;
}
.viz-number{
  font-size: 1.2rem;
  font-weight:200;
  color:#E7E7E7;
  position: relative;
  padding: .5rem .75rem;
  border: 1px solid #f8f8f8;
  border-radius: .25rem;
}
.mat-expansion-panel .mat-divider{
  margin:16px -24px 16px -24px;
}
.panel-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.panel-title .panel-title-text{
  font-weight:400;
}
.panel-title .panel-title-desc{
  color:#333;
  font-size: .7rem;
  font-weight:200;
}
h1.lead{
  font-size: 1.4rem;
  line-height: 1.4rem;
  margin:0px;
}
.mat-card.text-white h1, .mat-card.text-white div{
  color:#fff!important;
}
.legend-row{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-content: stretch;
  justify-content: flex-start;
}
.legend-row div{
  width:calc(100% / 3);
  max-width:calc(100vw / 3);
  padding:5px 10px;
  flex-grow: 3;
  color:#000;
  font-size: .8rem;
  line-height: .8rem;
  font-weight: 200;
}
.legend-row div.white{
  border:1px solid #f8f8f8;
  color:inherit;
}
.legend-large{
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}
.legend-large .legend-left{
  width:30%;
  max-width:30vw;
}
.legend-large .legend-left > div{
  padding:0 15px;
}
.legend-large .legend-right{
  width:70%;
  max-width:70vw;
}
.legend-large .legend-right > div{
  padding:0;
}
.pull-right{
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  justify-content: flex-end;
}
.chart-heading h1, .chart-heading p{
  max-width:35vw;
}
.chart-heading h1{
  font-size:2.4rem;
  font-weight:400;
  line-height:2.6rem;
}
.chart-heading h1 span{
  font-weight:150;
  font-size:1.95rem !important;
}
.chart-container{
  min-height:50vh;
}
@media only screen and (max-width: 599px) {
  .table-main .fix-col{
    width:50%;
    max-width: 50vw;
    overflow-x: hidden;
  }
  .table-main .fix-col a{
    width:inherit;
    overflow: hidden;
    word-wrap: break-word;
  }
  .table-scroll {
    margin-left: 50%;
    max-width: 50vw;
  }
  .table-main{
    max-width: 100vw;
  }
  .legend-large{
    flex-direction: column;
  }
  .legend-large .legend-left{
    width:100%;
    max-width:100vw;
  }
  .legend-large .legend-right{
    width:100%;
    max-width:100vw;
  }
  .legend-large .legend-left > div, .legend-large .legend-right > div{
    padding:0 15px;
  }
  .chart-heading h1, .chart-heading p{
    max-width:99vw;
  }
  .chart-heading h1{
    display: flex;
    flex-direction: column;
    font-size:1.4rem;
    font-weight:400;
    line-height:1.6rem;
  }
  .chart-heading h1 span{
    font-size:1.2rem!important;
  }
}
@media only screen and (min-width: 600px) {
  .table-main .fix-col{
    width: 30%;
    max-width:30vw;
  }
  .table-scroll {
    margin-left: 30%;
    width:70%;
    max-width: 70vw;
  }
  .table-main{
    max-width: 100vw;
  }
}
