.container{
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
}
.header img {
  width: 37px;
  margin-right: 16px;
}

.content{
  flex-grow: 1;
}

.footer{
  background-color:#f5f5f5;
}
.footer .footer-content{
  padding:10px 20px;
  background-color:#f5f5f5;
}
.footer .footer-content p{
  margin:0;
}

.spacer {
  flex: 1 1 auto;
}

.is-mobile .toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

.sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.is-mobile .sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {}
  .footer{
    font-size:0.7rem;
    line-height: 0.8rem;
    height:48px;
  }
  .mat-drawer-content, .mat-sidenav-content{
    /* viewport height - ( toolbar height + footer height) */
    min-height: calc(100vh - (56px + 48px));
  }
@media screen and (min-width: 768px) {
  .footer{
    font-size:0.9rem;
    line-height: 1.0rem;
    height:48px;
  }
  .mat-drawer-content, .mat-sidenav-content{
    /* viewport height - ( toolbar height + footer height) */
    min-height: calc(100vh - (64px + 48px));
  }
}
