.box-container{
  width:100%;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: flex-start;
}
.box {
  padding:10px;
}
.box .mat-card{
  min-height: 270px;
}
.box-header{
  display: flex;
  flex-wrap: nowrap;
  flex-flow: row;
  justify-content: flex-start;
}
.box-header img{
  margin-right: 10px;
}
.box-header a{
  font-weight: bold;
}
p.rs-address{
  margin-top:10px;
  font-size:.7rem;
  line-height: .8rem;
  color:#6c757d;
}
.box-child{
  display: flex;
  flex-direction: column;
}
.box-child h3{
  font-size:1.2rem;
  margin:10px 0 5px 0;
  font-weight: 100;
  padding:0;
  color:#6c757d;
}
.box-child .box-child-item{
  /* margin-left:5px; */
  padding:2px 4px 2px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom:5px;
}
.box-child .box-child-item:hover{
  background-color: #f8f8f8;
}
.box-child .box-child-item .item-label{
  flex-grow: 1;
  /* font-size:1.2rem; */
}
.box-child .box-child-item .item-count{
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.box-child .box-child-item .item-count .item-count-number{
  font-size:1.0rem;
  text-align: right;
  line-height: 1.0rem;
}
.box-child .box-child-item .item-count .item-unit-label{
  font-size: .7rem;
  line-height: .7rem;
  color:#6c757d;
  text-align: right;
}
table {
  width: 100%;
}

td {
  text-align: right;
}

@media only screen and (max-width: 677px) {
  /* Display 1 card per row*/
  .box {
    width:calc(100% - 30px);
  }
}
@media only screen and (min-width: 678px) and (max-width: 992px) {
  /* Display 2 card per row*/
  .box {
    width:calc(50% - 30px);
  }
}

@media only screen and (min-width: 993px) and (max-width: 1200px){
  /* Display 3 card per row*/
  .box {
    width:calc(33.3% - 30px);
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1400px){
  /* Display 4 card per row*/
  .box {
    width:calc(25% - 30px);
  }
}
@media only screen and (min-width: 1401px){
  /* Display 5 card per row*/
  .box {
    width:calc(20% - 30px);
  }
}
