<div class="box-container">
  <div class="box" *ngFor="let rs of (allPlaceData$ | async)">
    <mat-card>
      <div class="box-header">
        <img [src]="rs.placeData.place.icon" height="15">
        <div>
          <a [routerLink]="['/rs', rs.placeData.place.place_id]" target="_blank">
            {{ rs.placeData.place.name }}
          </a>

        </div>
      </div>
      <p class="rs-address">{{ rs.placeData.place.formatted_address }} </p>
      <mat-divider></mat-divider>


      <div class="box-child" *ngIf="userService.isRelawan && rs.suspects.length > 0">
        <h3>Suspects</h3>
        <ng-container *ngFor="let d of rs.suspects">
          <div class="box-child-item">
            <div class="item-label">{{ d.shortLabel }}</div>
            <div class="item-count">{{ d.value  | number:'1.0':'id' }}</div>
          </div>
        </ng-container>
      </div>
      <div class="box-child" *ngIf="rs.logistics.length > 0">
        <h3>Permintaan alat-alat</h3>
        <ng-container *ngFor="let d of rs.logistics">
          <div class="box-child-item">
            <div class="item-label">{{ d.shortLabel }}</div>
            <div class="item-count">
              <div class="item-count-number">{{ d.value  | number:'1.0':'id' }}</div>
              <div class="item-unit-label">{{ d.unitLabel }}</div>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="box-child" *ngIf="rs.beds.length > 0">
        <h3>Tempat Tidur</h3>
        <ng-container *ngFor="let d of rs.beds">
          <div class="box-child-item">
            <div class="item-label">{{ d.shortLabel }}</div>
            <div class="item-count">{{ d.value  | number:'1.0':'id' }}</div>
          </div>
        </ng-container>
      </div>
      <div class="box-child" *ngIf="rs.availabilities.length > 0">
        <h3>Availabilities</h3>
        <ng-container *ngFor="let d of rs.availabilities">
          <div class="box-child-item">
            <div class="item-label">{{ d.shortLabel }}</div>
            <div class="item-count">
              <div class="item-count-number">{{ d.value  | number:'1.0':'id' }}</div>
              <div class="item-unit-label">{{ d.unitLabel }}</div>
            </div>
          </div>
        </ng-container>
      </div>
    </mat-card>
  </div>
</div>
