<ng-container *ngIf="userService.user$ | async as user">
  <ng-container *ngIf="user.role >= USER_ROLE.MODERATOR">
    <div class="responsive">
      <div class="flex-row title-row">
        <h1>
          Daftar Relawan
        </h1>
        <div>
          <label for="searchUser">Cari nama user:</label>
          <input id="searchUser" [(ngModel)]="name" (ngModelChange)="nameFilterTrigger$.next($event)" value="" placeholder="Masukan nama">
        </div>
      </div>
      <table>
        <thead>
          <tr>
            <th>#</th>
            <th>Nama Relawan</th>
            <th>Email</th>
            <th>Peran</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let u of (publicUsers$ | async); index as i">
            <td>
              {{ i+1 }}
            </td>
            <td>
              <app-user [uid]="u.userid"></app-user>
            </td>
            <td>
              <ng-container *ngIf="u.email">
                {{ u.email }}
              </ng-container>
            </td>
            <td>
              <ng-container *ngIf="u.role >= user.role; else changeRoleTemplate">
                {{ USER_ROLE[u.role] }}
              </ng-container>
              <ng-template #changeRoleTemplate>
                <mat-radio-group aria-label="Change Role" [(ngModel)]="u.role" (change)="userService.changeRole(u, $event.value)">
                  <mat-radio-button [value]="USER_ROLE.PUBLIC"
                    [style.font-weight]="u.role == USER_ROLE.PUBLIC ? 'bold' : ''">
                    Public</mat-radio-button>
                  &nbsp;
                  <mat-radio-button [value]="USER_ROLE.RELAWAN"
                    [style.font-weight]="u.role == USER_ROLE.RELAWAN ? 'bold' : ''">Relawan</mat-radio-button>
                  &nbsp;
                  <mat-radio-button *ngIf="user.role > USER_ROLE.MODERATOR"
                    [style.font-weight]="u.role == USER_ROLE.MODERATOR ? 'bold' : ''" [value]="USER_ROLE.MODERATOR">
                    Moderator
                  </mat-radio-button>
                </mat-radio-group>
              </ng-template>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-container>
</ng-container>
