<ng-container *ngIf="userService.isModerator">
  <ng-container *ngIf="userDetails$ | async as userDetails">
    <img [src]="userDetails.user.photoURL" style="float: left;">
    <h1>{{ userDetails.user.displayName }}</h1>
    {{ userDetails.user.email }}<br>
    {{ userDetails.user.phoneNumber }}<br>
    register date: {{ userDetails.user.registerDate.toDate() }}<br>
    ROLE:
    <ng-container *ngIf="userDetails.user.role >= userService.user.role; else changeRoleTemplate">
      {{ USER_ROLE[userDetails.user.role] }}
    </ng-container>
    <ng-template #changeRoleTemplate>
      <mat-radio-group aria-label="Change Role" [(ngModel)]="userDetails.user.role" (change)="userService.changeRole(userDetails.user, $event.value)">
        <mat-radio-button [value]="USER_ROLE.PUBLIC" [style.font-weight]="userDetails.user.role == USER_ROLE.PUBLIC ? 'bold' : ''">
          Public</mat-radio-button>
        &nbsp;
        <mat-radio-button [value]="USER_ROLE.RELAWAN" [style.font-weight]="userDetails.user.role == USER_ROLE.RELAWAN ? 'bold' : ''">
          Relawan</mat-radio-button>
        &nbsp;
        <mat-radio-button *ngIf="userService.user.role > USER_ROLE.MODERATOR"
          [style.font-weight]="userDetails.user.role == USER_ROLE.MODERATOR ? 'bold' : ''" [value]="USER_ROLE.MODERATOR">
          Moderator
        </mat-radio-button>
      </mat-radio-group>
    </ng-template>

    <p></p>

    <b>Changes:</b>
    <ul>
      <li *ngFor="let e of Object.entries(userDetails.changes)">
        <a [routerLink]="['/rs', e[0]]"> {{ userDetails.place[e[0]].name }} </a>
        Changed: {{ e[1] | json }}
      </li>
    </ul>
  </ng-container>
</ng-container>
