/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  color: #3389FE;
  text-decoration: none;
  cursor: pointer;
  transition: all .3s ease;
}

a:hover,
a:focus {
  color: #286ccc;
  transition: all .3s ease;
}

.responsive {
  display: block;
  padding: 0 16px;
}

.text-muted {
  color: #333;
}

.text-success {
  color: #219653;
}

.text-warning {
  color: #F2C94C;
}

.text-danger {
  color: #D8232A;
}
.text-white:{
  color:#fff;
}
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
.text-light, h1.text-light, h2.text-light, h3.text-light, h4.text-light, h5.text-light {
  font-weight:200;
}
.text-strong {
  font-weight:500;
}
.alert-danger {
  background-color: #f44336;
  /* Red */
}
.alert-info {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

.alert-success {
  background-color: #36f456;
}

.alert {
  padding: 10px;
  color: white;
  margin-bottom: 15px;
}

.rs-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.flex-column {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.flex-row > .flex-item {
  margin: 10px;
  flex-grow: 1;
}
.flex-column > .flex-item {
  margin: 10px;
}
.lead {
  font-size: 2.4rem;
}

/* MARGINs */
.marg-3{
  margin:15px;
}
.marg-top-3 {
  margin-top: 15px;
}
.marg-top-4 {
  margin-top: 20px;
}
.marg-top-5 {
  margin-top: 25px;
}
.marg-bot-3 {
  margin-bottom: 15px;
}
.marg-bot-4 {
  margin-bottom: 20px;
}
.marg-ver-3 {
  margin-top: 15px;
  margin-bottom: 15px;
}
.marg-hor-3 {
  margin-left: 15px;
  margin-right: 15px;
}
.marg-hor-2 {
  margin-left: 10px;
  margin-right: 10px;
}
.marg-right-3{
  margin-right: 15px;
}
.marg-left-3{
  margin-left: 15px;
}
/* BACKGROUNDs */
.bg-light{
  background-color: #FAFAFA;
}
@media screen and (min-width: 575px) {
  .responsive {
    width: 90%;
    max-width: 640px;
    margin: 0 auto;
    padding: 0 16px;
  }
}
