.map-wrapper {
  margin-bottom: 24px;
}

h2 {
  margin-bottom: 16px;
  text-align: center;
}

.rs-full-width {
  width: 100%;
}

.ok {
  color: green;
  font-weight: bold;
  font-size: 14px;
}

.link {
  display: flex;
  align-items: center;
  padding: 12px 0;
}
.rs-navigation{
  display:flex;
  align-items: center;
  justify-content:space-between;
}
